@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    .disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    .h-screen-10 {
        height: calc(100vh - 2.5rem);
    }
    .h-screen-11 {
        height: calc(100vh - 2.75rem);
    }
    .h-screen-12 {
        height: calc(100vh - 3rem);
    }
    .min-h-screen-12 {
        min-height: calc(100vh - 3rem);
    }
    .h-full-10 {
        height: calc(100% - 2.5rem);
    }
    .h-full-11 {
        height: calc(100% - 2.75rem);
    }
    .h-full-12 {
        height: calc(100% - 3rem);
    }
    .z-35 {
        z-index: 35;
    }
}
